body{
    margin: 0;
    padding: 0;
background: #fff;
overflow: hidden;
    
}
h1{
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    color: rgb(136, 75, 19);
}
p{
    font-size: 15px;
    line-height: 10px;
    background: url(https://i.pinimg.com/originals/e0/bd/46/e0bd4685d02433fbe06953693bef6af8.gif) no-repeat ;

    background-size: contain;
    background-position: center;
    background-attachment: fixed;

    -webkit-background-clip: text;
    -webkit-text-fill-color:rgba(255, 255, 2555, 0);
    font-size: 900;
    margin: 0;

}
